<div id='route-container'>

    <div id='container-headshot' class='container'>
        <div id='headshot-image'></div>
    </div>

    <div id='container-information' class='container'>
        <div id='container-information-content'>
            <h2>Hello!</h2>
            <h3>Welcome to my personal website! I am glad you took some time to see what I have to offer. Here is a little information about myself:</h3>
            <h3>My name is Dakota Korn. I am a Full Stack Java Engineer with only one year of professional experience, but many years of personal experience playing around
                with different languages and frameworks to gain a broad understanding of software engineering, which has provided me with the ability to pick up new skills 
                more easily and the capability to dive deeper into specific languages of interest to develop a mastery of the content. I have a deep passion for learning
                and am motivated to take my skills to wherever they take me! 
            </h3>
            <h3>Here is just a brief list of technologies that I have experience with:</h3>
            <div>
                <ul class='experience-list'>
                    <div id='list-content'>
                        <div class='list-content-divider'>
                            <li class='li-header'>Frameworks</li>
                            <li>Angular</li>
                            <li>Express</li>
                            <li>REST</li>
                        </div>
                        <div class='list-content-divider'>
                            <li class='li-header'>Languages</li>
                            <li>CSS</li>
                            <li>HTML</li>
                            <li>Java</li>
                            <li>JavaScript</li>
                            <li>SCSS</li>
                            <li>SQL</li>
                            <li>Typescript</li>
                        </div>
                        <div class='list-content-divider'>
                            <li class='li-header'>Resources</li>
                            <li>AWS</li>
                            <li>Firebase</li>
                            <li>GitHub</li>
                            <li>Heroku</li>
                            <li>Node</li>
                            <li>SQL Databases</li>
                            <li>NoSQL Databases</li>  
                        </div>
                        <div class='list-content-divider'>
                            <li class='li-header'>Technologies</li>
                            <li>Observables and Promises</li>
                            <li>Websockets</li>
                        </div> 
                    </div>
                    
                </ul>
            </div>
        </div>
        
    </div>

</div>

