<div id=app-container>
  
  <div id='header'>
    <img id='header-logo'>
  </div>

  <div id='nav-bar'>
  </div>

  <div id='nav-bar-slider' [ngClass]="{ 'nav-bar-slider-content-up': !navToggled }">
    <div id='nav-bar-slider-content'>
      <ul>
        <li><div id='first-link' routerLink="home" (click) = 'navToggle()' [ngClass]="{ 'nav-bar-slider-li-hidden opacity-transition-short': !navToggled, 'opacity-transition-long first-link' :navToggled}">Home</div></li>
        <li><div id='second-link' routerLink="about-me" (click) = 'navToggle()' [ngClass]="{ 'nav-bar-slider-li-hidden opacity-transition-short': !navToggled, 'opacity-transition-long second-link' :navToggled}">About Me</div></li>
        <li><div id='third-link' routerLink="projects" (click) = 'navToggle()' [ngClass]="{ 'nav-bar-slider-li-hidden opacity-transition-short': !navToggled, 'opacity-transition-long third-link' :navToggled }">Projects</div></li>
        <li><div id='fourth-link' [ngClass]="{ 'nav-bar-slider-li-hidden opacity-transition-short': !navToggled, 'opacity-transition-long fourth-link' :navToggled }">page 4</div></li>
        <li><div id='fifth-link' [ngClass]="{ 'nav-bar-slider-li-hidden opacity-transition-short': !navToggled, 'opacity-transition-long fifth-link' :navToggled }">page 5</div></li>
      </ul>
    </div>
    <div id='nav-bar-slider-toggle' (click) = 'navToggle()'></div>
  </div>

  <div id="content-container">
    <router-outlet></router-outlet>
  </div>
</div>


  




